* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .experience-section {
  margin-bottom: 0.7rem;
} */

.experience-section {
  margin-bottom: 1rem;
}
.experience-company {
  background-color: aliceblue;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  /* padding: 0.2rem; */
}

.experience-job-role {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.company {
  font-weight: 500;
  /* border: 2px solid red; */
  padding: 0rem 0.7rem;
  margin-right: 1rem;
}

.location {
  padding: 0rem 0.7rem;
  /* border: 2px solid red; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.company-para {
  margin-bottom: 0.5rem;
}

.from {
  background-color: #1d4ed8;
  color: white;
  padding: 0rem 1rem;
  border-radius: 15px;
  margin-right: 1rem;
}

.to {
  background-color: #1d4ed8;
  color: white;
  padding: 0rem 1rem;
  border-radius: 15px;
}

.para_date {
  margin-bottom: 0.6rem;
}

/* education section shares many classes to company section */
/* education section classes */
.education-section {
  margin-bottom: 0.7rem;
  /* padding: 0.5rem 0.5rem */
  /* border: 2px solid red; */
}

.education-course {
  background-color: aliceblue;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

/* project section classes */

.project-link {
  padding: 10px;
}

.project-remarks {
  padding: 10px;
  /* border: 2px solid green; */
  font-style: italic;
  /* min-width: 80%; */
}

.skill_parent {
  margin-left: 1rem;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: 400;
  text-align: center;
}

#note-scroll {
  text-align: center;
  font-size: large;
  color: maroon;
}

.heading_main {
  background: linear-gradient(145deg, #2e3192, #1bffff);
  color: white;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top {
  background: linear-gradient(145deg, #2e3192, #1bffff);
}

/* .name-contact {
  background: linear-gradient(145deg, #10b4b4, #2e3192);
} */
