* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .experience-section {
  margin-bottom: 0.7rem;
} */

.experience-section {
  margin-bottom: 1rem;
}
.experience-company {
  background-color: aliceblue;
  font-weight: 500;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
  /* padding: 0.2rem; */
}

.experience-job-role {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.company {
  font-weight: 500;
  /* border: 2px solid red; */
  padding: 0rem 0.7rem;
  margin-right: 1rem;
}

.location {
  padding: 0rem 0.7rem;
  /* border: 2px solid red; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.company-para {
  margin-bottom: 0.5rem;
}

.from {
  background-color: #1d4ed8;
  color: white;
  padding: 0rem 1rem;
  border-radius: 15px;
  margin-right: 1rem;
}

.to {
  background-color: #1d4ed8;
  color: white;
  padding: 0rem 1rem;
  border-radius: 15px;
}

.para_date {
  margin-bottom: 0.6rem;
}

/* education section shares many classes to company section */
/* education section classes */
.education-section {
  margin-bottom: 0.7rem;
  /* padding: 0.5rem 0.5rem */
  /* border: 2px solid red; */
}

.education-course {
  background-color: aliceblue;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

/* project section classes */

.project-link {
  padding: 10px;
}

.project-remarks {
  padding: 10px;
  /* border: 2px solid green; */
  font-style: italic;
}
